{% extends 'main/base.html' %}
{% load static %}
{% block content %}
 <div class="hero-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slides hero-content-wrap"style="width:100%; height: 400px;">
                <img src="{% static 'main/images/about.jpg' %}" width="100%" height="auto" alt="">

                <div class="hero-content-overlay position-absolute w-100 h-100">
                    <div class="container h-100">
                        <div class="row h-100">
                            <div class="col-12 col-lg-8 d-flex flex-column justify-content-center align-items-start">
                                <header class="entry-header">
                                    <h4>About Us</h4>
                                </header><!-- .entry-header -->

                                <header class="entry-header">
                                	<br />
                                <br />
                                <br />
                                    <h8>Funmi Nehan Foundation was Created in July 2017. Our mission is to be a Blessing to the less privileged. Life is a gift and the only way to give back to the world is to Touch Lives.</h8>
                                  
                                </header><!-- .entry-header -->
                                
                                <div class="entry-footer d-flex flex-wrap align-items-center mt-5">
                                    <a href="{% url 'about' %}" class="btn gradient-bg mr-2">Learn more</a>
                                    <a href="{% url 'contact' %}" class="btn orange-border">Contact</a>
                                </div><!-- .entry-footer -->
                                
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .container -->
                </div><!-- .hero-content-overlay -->
            </div><!-- .hero-content-wrap -->
        </div>
    </div>
<br />
<br />
<br />
    <div class="welcome-wrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="welcome-content">
                        <header class="entry-header">
                            <h2 style="color: black" class="entry-title">WHO WE ARE</h2>
                        </header><!-- .entry-header -->

                        <div class="entry-content mt-5">
                            <p>
                            We are The FN Foundation , a Non-profit organisation duly incorporated and registered in Nigeria under the Corporate Affairs Commissions.<p/>
                            <p>Funmi Nehan Foundation was created in July 2017.
At Funmi Nehan Foundation we aim to make everyone created by God smile through giving and impacting their lives.</p>
							<p>We bridge the gap by providing for immediate needs of the less privilege ones in our society.</p>
							<p>We ensure their daily / pressing needs are let to ensure a better living.</p>
                        </div><!-- .entry-content -->

                    </div><!-- .welcome-content -->
                </div><!-- .col -->
                
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="welcome-content">
                        <header class="entry-header">
                            <h2 style="color: black" class="entry-title">WHAT WE DO</h2>
                        </header><!-- .entry-header -->

                        <div class="entry-content mt-5">
                            <p>Alot of families can't afford their daily meal.</p>
                            <p>Individuals are unable to start to start a trade due to lack of funds, children are unable to attend school due to lack of parental care or unable to pay their school fees.</p>
                            <p>Alot of other Non-profit organisations are unable to meet up with daily needs due to lack of funds.</p>
                            <p>We help families in such categories with provision  of food, clothing, school fees and trade set up to ensure their  basic  daily needs are met.</p>
                            <p>We at Funmi Nehan Foundation become their support and put a smile to their face.
We follow up on individuals and ensure they are well catered for.</p>
                        </div><!-- .entry-content -->

                    </div><!-- .welcome-content -->
                </div><!-- .col -->
                
                
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="welcome-content">
                        <header class="entry-header">
                            <h2 style="color: black" class="entry-title">How We Got Here</h2>
                        </header><!-- .entry-header -->

                        <div class="entry-content mt-5">
                            <p>Apart from having a passion to be a blessing.</p>
                            <p>The vision was given to our founder over 3 years ago.</p>
                            <p>She step out in faith 3 years later and the rest is history  
Touching lives is our vision and we are totally fulfilled seeing every individual we come across smile on our little way.</p>

<p>Our mission is to be a Blessing to the less privileged. Life is a gift and the only way to give back to the world is to Touch Lives.</p>
<p>We have been to different states in Nigeria and  still serving through our monthly outreach and individual giving.</p>
<p>We aim to continue serving/ meeting needs  and touch life globally.</p>
<p>We are convinced that the world will eventually be a better place and the lack among us as human beings will be met if we continue serving and reaching out in love.</p>
                        </div><!-- .entry-content -->

                    </div><!-- .welcome-content -->
                </div><!-- .col -->

                

            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .home-page-icon-boxes -->
    <br /><br />
<br />
<br />
    

    <div class="our-causes">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="circular-progress-bar">
                        <div class="circle" id="loader_1">
                            <strong class="d-flex justify-content-center"></strong>
                        </div>

                        <h3 class="entry-title">Hard Work</h3>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="circular-progress-bar">
                        <div class="circle" id="loader_2">
                            <strong class="d-flex justify-content-center"></strong>
                        </div>

                        <h3 class="entry-title">Pure Love</h3>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="circular-progress-bar">
                        <div class="circle" id="loader_3">
                            <strong class="d-flex justify-content-center"></strong>
                        </div>

                        <h3 class="entry-title">Smart Ideas</h3>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="circular-progress-bar">
                        <div class="circle" id="loader_4">
                            <strong class="d-flex justify-content-center"></strong>
                        </div>

                        <h3 class="entry-title">Good Decisions</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock content %}
