{% extends 'main/base.html' %}
{% load static %}
{% block content %}

 <div class="hero-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slides hero-content-wrap" style="width:100%; height: 600px;">
                <img src="{% static 'main/images/outreach.jpg' %}" alt="">

                <div class="hero-content-overlay position-absolute w-100 h-100">
                    <div class="container h-100">
                        <div class="row h-100">
                            <div class="col-12 col-lg-8 d-flex flex-column justify-content-center align-items-start">
                                <header class="entry-header">
                                    <h4>Funmi Nehan Foundation</h4>
                                </header><!-- .entry-header -->
                                <div>
                                    <h5>Our Team Members</h5>
                                </div>
                                
                                <header class="entry-header">
                                	<br />
                                <br />
                                <br />
                                    <h8>We are The FN Foundation , a Non-profit organisation duly incorporated and registered in Nigeria under the Corporate Affairs Commissions!.</h8>
                                  
                                </header><!-- .entry-header -->

                                <div class="entry-footer d-flex flex-wrap align-items-center mt-4">
                                    <a href="{% url 'about' %}" class="btn gradient-bg mr-2">Learn more</a>
                                    <a href="{% url 'contact' %}" class="btn orange-border">Contact</a>
                                </div><!-- .entry-footer -->
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .container -->
                </div><!-- .hero-content-overlay -->
            </div><!-- .hero-content-wrap -->
        </div>
    </div>
<br>
    
    
        
    
   <br />
<br />
   <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                   <div class="welcome-content">
                        <header class="entry-header">
                            <h2 style="color: black" class="entry-title">Our Team Members</h2>
                        </header><!-- .entry-header -->

                        <div class="entry-contents mt-5s">
                        </div><!-- .entry-content -->

                    </div><!-- .welcome-content -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .page-header -->

    <div class="portfolio-wrap">
        <div class="container">
        	<br />
			<br />
			
			{% if members %}
			<div class="row">
				{% for each_member in members %}
					<div class="col-lg-4 col-md-4 col-sm-4">
						<div class="cause-wrap">
                                    <figure class="m-0">
                                        <img src="{{ each_member.image.url }}" alt="" width="100%" height="auto">
                                    </figure>

                                    <div class="cause-content-wrap">
                                        <header class="entry-header d-flex flex-wrap align-items-center">
                                            <h3 class="entry-title w-100 m-0"><a href="{% url 'member_detail' each_member.slug %}">{{ each_member.name }}</a>|<small style="color: orange">{{ each_member.post }}</small></h3>
                                             <p class="m-0">{{ each_member.bio|truncatewords:15 }}</p>
                                        </header><!-- .entry-header -->

                                    </div><!-- .cause-content-wrap -->
                                </div><!-- .cause-wrap -->
					
					</div>
				{% endfor %}
				
				
			</div>
			{% else %}
				<div class="row">
					<p>Nothing Yet!, sorry!
				</div>
				
			{% endif %}
        
             
			<br />
			<br />

            <div class="row">
                <div class="col-12 d-flex justify-content-center mt-72">
                    <a href="{% url 'index' %}" class="btn gradient-bg load-more-btns">Back Home</a>
                </div>
            </div>
     
        </div>
    </div>
    
    
    
    <div class="home-page-welcome">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 order-2 order-lg-1">
                    <div class="welcome-content">
                        <header class="entry-header">
                            <h2 class="entry-title">Seen Our Latest Event ?</h2>
                        </header><!-- .entry-header -->

                        {% if events %}
                        <div class="entry-content mt-5">
                            <ul>
                            	{% for each_event in events %}
                            		<li>{{ each_event.title }}</li>
                            	{% endfor %}
                            </ul>
                        </div><!-- .entry-content -->
                        {% else %}
                        	<div class="entry-content mt-5">
                        		<p>Nothing yet!</p>
                        	</div>
                        {% endif %}
                    </div><!-- .welcome-content -->
                </div><!-- .col -->

				{% if event %}
				{% for each_event in event %}
                <div class="col-12 col-lg-6 mt-4 order-1 order-lg-2">
                    <iframe width="100%" height="400px" src="{{ each_event.video_url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                    </iframe>
                </div><!-- .col -->
               {% endfor %}
                {% else %}
                  <div class="col-12 col-lg-6 mt-4 order-1 order-lg-2">
              		<p>Nothing yet!</p>
            	</div>
               {% endif %}
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .home-page-icon-boxes -->   
    {% endblock content %}
